<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login | ReadStack</title>
  <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
  <div class="form-container">
    <h2>Login to <span>ReadStack</span></h2>
    <form method="POST" action="/api/login">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/api/signup">Signup here</a></p>

  </div>
</body>

</html>